body {
    background: #ccc;
    border-spacing: 0;
    letter-spacing: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    font-size: 16px;
    color: #222;
    margin: auto;
    padding: auto;
}

table {
    max-width: 90%;
    margin: auto;
}

button {
    border: 2px solid gray;
    border-radius: 4px;
    background: linear-gradient(#ccc, #aaa);
}

button:hover {
    border: solid 2px #888;
    background: linear-gradient(#eee, #bbb);
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.dropdown:hover {
    border: 1px solid gray;
    background: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #ddd;
    border: 1px solid gray;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(16,16,16,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content h3{
    border: 1px solid #ddd;
}

.dropdown:hover .dropdown-content:hover h3:hover{
    background: #bbb;
    color:#000;
    border: 1px solid gray;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: auto;
}

a {
    color: #08e;
    text-decoration: none;
}

a:hover {
    color: #04e;
    text-shadow: #880 0px 0px 10px;
    text-decoration: none;
}

iframe {
    border: none;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 4px;
    background: white;
}

video {
    border: 1px solid gray;
    border-radius: 4px;
}